# Node.js
node_modules/
npm-debug.log

# Logs
*.log

# Dependency directories
/client/node_modules/
server/node_modules/

# Build output from Vite
/client/dist  # Ignore React build output (Vite)
/server/dist  # Ignore any build output in server (if any)

# .env files (Sensitive info like database connections, etc.)
.env
.env.local
.env.production

# Other
.vscode/
